.navigation,
.activeStyle {
  margin-left: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #4d7a26b5;
  text-decoration: none;
}

.activeStyle {
  color: #1d6c1d;
  text-decoration: underline;
}

.navigation:hover {
  color: #016a3d;
}
