.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 600px;
  padding: 12px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}
.film {
  display: flex;
}
.list {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  margin: 5px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 150px;
}
.company {
  display: flex;
  align-items: baseline;
}
.company_img {
  max-height: 20px;
  max-width: 120px;
}
p {
  color: #3a6f3a;
  font-style: italic;
}
.span {
  color: #1d6c1d;
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
  font-style: normal;
}
.info_card {
  margin: 0 15px;
}

.homepage {
  color: #46c772;
}
.title {
  text-align: center;
  margin: 10px auto;
}
.img_total {
  display: block;
  margin-right: 10px;
  max-height: 500px;
  max-width: 300px;
}
